apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-app
        image: todo-app:1.0
        imagePullPolicy: Never  
        ports:
        - containerPort: 3000
        env:
        - name: MONGO_HOST
          value: "mongodb-service"  
        - name: PORT
          value: "3000"
---
apiVersion: v1
kind: Service
metadata:
  name: todo-app-service
spec:
  type: NodePort  
  selector:
    app: todo-app
  ports:
  - port: 80
    targetPort: 3000
    nodePort: 30080
